<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все люди</title>
</head>
<body>

<div>
  <a href="people/new" >Добавить новый контакт</a>
  <br/>
  <br/>
  <table>
    <tr th:each="person : ${people}">
      <td th:text="${person.getId()}">VALUE</td>
      <td><a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a></td>
      <td th:text="${person.getYear()}">VALUE</td>
    </tr>
  </table>
</div>

</body>
</html>